.side_bar
  .header__side
    .side__massage
      = current_user.name
    .side__btn
      = link_to new_group_path do
        = icon 'fas', 'edit'
      = link_to edit_user_path(current_user) do
        = icon 'fas', 'cog'
    
  .side__contents
    .side__contents__blc1
      hallo world 
    .br  
      メッセージ
      
    .side__contents__blc
      test1
    .br
      メッセージはありません
    
